<!--書店のマイページ内(投稿内容リンクの遷移先)画面-->
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="mx-1 my-5 text-secondary border-bottom col-7">感想コメント一覧</h2>
      <!--特定投稿に紐づく感想コメント一覧-->
      <table class="mx-1 my-2 table table-hover align-middle text-secondary">
        <thead>
          <tr>
            <th>感想</th>
            <th>書店評価</th>
          </tr>
        </thead>
        <tbody>
          <% @thoughtse_comments.each do |tc| %>
            <tr>
              <td>
                <%= thoughtse_comment.content %>
              </td>
              <td>
                <%#= thoughtse_comment.evaluation_score %>
              </td>
              <!--感想コメント時にレビューされた(5段階評価)を表示-->
              <td id="index_raty<%= thoughtse_comment.id %>"></td>
              <!--<div id="star_<%#= book.id %>"></div>-->
            </tr>
            <script>
            $(document).on('turbolinks:load', function() {
              let elem = document.querySelector('#index_raty<%= thoughtse_comment.id %>');
              if (elem == null) return;

              elem.innerHTML = "";
              let opt = {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                score: "<%= thoughtse_comment.evaluation_score %>",
                readOnly: true,
              };
              raty(elem, opt);
            });
            </script>
            <% end %>
          </tbody>
      </table>
      <!--kaminari(ページネーション)記述-->
      <div class="mx-1">
        <%= paginate @thoughtse_comments %>
      </div>
    </div>
  </div>
</div>