<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3 class="mx-3  my-3 text-secondary border border-3 rounded-top col-7 text-center">感想コメント一覧</h3>
        <!--特定投稿に紐づく感想コメント一覧-->
        <table class="mx-3 my-3 table table-hover align-middle text-secondary">
          <thead>
            <tr>
              <th>content</th>
              <th>evaluation_score</th>
            </tr>
          </thead>
          <tbody>
          <% @thoughtse_comments.each do |tc| %>
            <td>
              <%= thoughtse_comment.content %>
            </td>
            <td>
              <%#= thoughtse_comment.evaluation_score %>
            </td>
            <!--感想コメント時にレビューされた(5段階評価)を表示-->
            <td id="index_raty<%= thoughtse_comment.id %>"></td>
            <!--<div id="star_<%#= book.id %>"></div>-->
          <% end %>
          </tbody>
        </table>
      <!--kaminari(ページネーション)記述-->
      <%= paginate @thoughtse_comments %>
    </div>
  </div>
</div>
<script>
$(document).on('turbolinks:load', function() {
  let elem = document.querySelector('#index_raty<%= thoughtse_comment.id %>');
  if (elem == null) return;
  
  elem.innerHTML = "";
  let opt = {  
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: "<%= thoughtse_comment.evaluation_score %>",
    readOnly: true,
  };
  raty(elem, opt);
});
</script>