<!--お客様の書店投稿一覧表示ページ-->
<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="mx-1 my-5 text-secondary border-bottom col-4"><b>書店投稿一覧</b></h2>
      <table class="mx-1 my-2 table table-hover table-inverse align-middle text-secondary">
        <thead>
          <tr>
            <th>書店名</th>
            <th>投稿内容</th>
            <% if customer_signed_in? %>
              <th>
                <!--url: search_public_posts_path=検索内容をresources :postsのget 'search'に送信-->
                <%= form_with url: search_public_posts_path, local: true, method: :get do |f| %>
                <!--検索内容をwordとしてdef searchアクションに送る-->
                  <!--検索例をtext_field内に表示する-->
                <%= f.text_field :word, class:"text-secondary border border-secondary rounded" %>
                <!--都道府県とタグで切り替えて検索する-->
                <%= f.select :range, options_for_select([['都道府県'], ['タグ']]) %>
                <!--"btn"箇所=検索ボタン記述-->
                  <!--style: =Bootstrap内でのCSS記述（<div>や<link_to>内では上手く動作しないことも）カスタマイズツールなどある-->
                <%= f.submit "検索", class: "btn btn-outline-secondary", style: "padding:0;" %>
                <% end %>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
        <!--複数のデータを登録する記述-->
        <% @posts.each do |post| %>
          <tr>
            <td>
              <%= link_to public_book_store_path(post.book_store), class:"text-secondary" do %>
                <%= post.title %>
              <% end %>
            </td>
            <td>
              <!--感想コメント作成・特定の投稿に紐づく感想コメント一覧表示ページに遷移(public/posts/show)-->
                <!--ゲストでお客様ログイン時には投稿内容をリンクにしない-->
              <%= link_to_if customer_signed_in? && !current_customer.guest?, post.content, public_post_path(post), class:"text-secondary" %>
            </td>
            <td></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <!--kaminari(ページネーション)記述-->
      <div class="mx-1">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>