<!--投稿内容のリンク先-->
  <!--感想コメント作成-->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3 class="mx-1 my-5 text-secondary border-bottom col-9"><b>感想コメント作成</b></h3>
      <%= form_with model: @thoughtse_comment, url: public_book_store_thoughtse_comments_path(@post.book_store) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <%= f.hidden_field :post_id, value: @post.id %>

        <div class="mx-1 my-2 text-secondary">
          <%= f.label :content, "感想" %>
          <%= f.text_area :content, rows: '8', class: "form-control" %>
        </div>
        <!--レビュー機能を表示(星で5段階評価)-->
        <div class="mx-1 my-2 text-secondary" id="star">
          <%= f.label :"評価" %>
          <%= f.hidden_field :evaluation_score, id: :review_star, class: 'form-control' %>
          <div id="post_raty"></div>
        </div>

        <!--<div class="mx-3 my-3 text-secondary">-->
        <!--  <%#= f.label :evaluation_score, "評価" %>-->
        <!--  <%#= f.select :evaluation_score, (1..5), { include_blank: "評価を選ぶ" }, { class: "form-control" } %>-->
        <!--</div>-->
        <%= f.submit "感想コメント", class:"mx-1 my-2 btn btn-outline-success btn-sm" %>

        <script>
          $(document).on('turbolinks:load', function() {
            let elem = document.querySelector('#post_raty');
            if (elem == null) return;

            elem.innerHTML = ""
            let opt = {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              scoreName: 'thoughtse_comment[evaluation_score]',
            };
            raty(elem, opt);
          });
        </script>
      <!--form_with内にf.labelなどfは入れないとエラー原因になる-->
      <% end %>
    </div>
    <!--書店投稿から遷移して確認できるページ-->
    <div class="col-md-8">
      <h3 class="mx-1 my-5 text-secondary border-bottom col-5"><b>感想コメント一覧</b></h3>
      <!--特定投稿に紐づく感想コメント一覧-->
      <table class="mx-1 my-5 table table-hover align-middle text-secondary">
        <thead>
          <tr>
            <th>content</th>
            <th>evaluation_score</th>
          </tr>
        </thead>
        <tbody>
          <% @thoughtse_comments.each do |thoughtse_comment|%>
            <tr>
              <td><%= thoughtse_comment.content %></td>
              <td id="show_raty<%= thoughtse_comment.id %>"></td>
              <script>
                $(document).on('turbolinks:load', function() {
                  let elem = document.querySelector('#show_raty<%= thoughtse_comment.id %>');
                  if (elem == null) return;
  
                  elem.innerHTML = ""
                  let opt = {
                    starOn: "<%= asset_path('star-on.png') %>",
                    starOff: "<%= asset_path('star-off.png') %>",
                    starHalf: "<%= asset_path('star-half.png') %>",
                    readOnly: true,
                    score: <%= thoughtse_comment.evaluation_score %>
                  };
                  raty(elem, opt);
                });
              </script>
              <!--削除ボタン表示-->
              <td><%= link_to "削除", public_book_store_thoughtse_comment_path(@book_store.thoughtse_comment), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-outline-danger float-end" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <!--kaminari(ページネーション)記述-->
      <div class="mx-1">
        <%= paginate @thoughtse_comments %>
      </div>
    </div>
  </div>
</div>
