<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="mx-1 my-5 text-secondary border-bottom col-3"><b>ログイン</b></h2>
        <!--form_forをform_withに変更-->
        <%= form_with model: @admin, url: admin_session_path do |f| %>
        <%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <table class="field text-secondary mx-1 my-2">
            <tr>
              <td>
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "current-password" %>
              </td>
            </tr>
          </table>
          <div class="mx-1">
            <%= f.submit "ログイン", class:"btn btn-outline-info btn-sm" %>
            <!--adminsからadminにフォルダ名を改名したためadminsのsを削除-->
            <%= render "admin/shared/links" %>
          </div>
        <% end %>
    </div>
  </div>
</div>

  <!--下記は必要ないためコメントアウト-->
  <%# if devise_mapping.rememberable? %>
    <!--<div class="field">-->
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
    <!--</div>-->
  <%# end %>


