<!--会員のお客様一覧ページ-->
<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="mx-1 my-5 text-secondary border-bottom col-4"><b>お客様一覧</b></h2>
      <table class="mx-1 my-2 table table-hover align-middle text-secondary">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>ニックネーム</th>
            <th>ステータス</th>
            <!--有効か退会かを検索できる検索窓設置-->
            <% if admin_signed_in? %>
              <th>
                <!--url: search_public_posts_path=検索内容をresources :postsのget 'search'に送信-->
                <%= form_with url: search_admin_customers_path, local: true, method: :get do |f| %>
                  <!--検索内容をwordとしてdef searchアクションに送る-->
                  <%= f.select :is_active, [["有効", true], ["退会", false]], include_blank: "全て" %>
                  <!--"btn"箇所=検索ボタン記述-->
                    <!--style: =Bootstrap内でのCSS記述（<div>や<link_to>内では上手く動作しないことも）カスタマイズツールなどある-->
                  <%= f.submit "検索", class: "btn btn-outline-secondary", style: "padding:0;" %>
                <% end %>
              </th>
            <% end %>
          </tr>
        </thead>
        <% @customers.each do |customer| %>
          <tr>
            <!--会員ID-->
            <td><%= customer.id %></td>
            <!--ニックネーム-->
            <td><%= link_to customer.name, admin_customer_path(customer.id), class:"text-secondary" %></td>
            <!--ステータス-->
            <td class="<%= customer.is_active ? 'text-green' : 'text-gray' %>"><%= customer.is_active ? '有効' : '退会' %></td>
            <td></td>
          </tr>
        <% end %>
      </table>
      <!--kaminari(ページネーション)記述-->
      <div class="mx-1">
        <%= paginate @customers %>
      </div>
    </div>
  </div>
</div>
