<!--会員(書店)詳細画面(admin/book_stores/:id)-->
<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="mx-3 my-5 text-secondary border border-3 rounded-top col-4 text-center">書店マイページ</h2>
      <table class="mx-3 my-3 table table-hover align-middle text-secondary">
        <tr>
          <th>書店ID</td>
          <td><%= @book_store.id %></td>
        </tr>
        <tr>
          <th>書店名</td>
          <td><%= @book_store.name %></td>
        </tr>
        <tr>
          <th>創立年齢</td>
          <td><%= @book_store.age %></td>
        </tr>
        <tr>
          <th>電話番号</td>
          <td><%= @book_store.telephone_number %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @book_store.address %></td>
        </tr>
        <tr>
          <th>会員ステータス</th>
          <th><%= @book_store.is_active ? '有効' : '無効' %></th>
        </tr>
        <tr>
          <td></td>
          <td><%= link_to "退会する", unsubscribe_admin_book_store_path(@book_store), data: { confirm: "退会してもよろしいですか？" }, class:"btn btn-outline-success btn-sm" %>
        </tr>
      </table>
    </div>
  </div>
</div>