<!--会員(書店)詳細画面(admin/book_stores/:id)-->
<table class="table table-borderless">
  <tr>
    <th>書店ID</td>
    <td><%= @book_store.id %></td>
  </tr>
  <tr>
    <th>書店名</td>
    <td><%= @book_store.name %></td>
  </tr>
  <tr>
    <th>創立年齢</td>
    <td><%= @book_store.age %></td>
  </tr>
  <tr>
    <th>電話番号</td>
    <td><%= @book_store.telephone_number %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= @book_store.address %></td>
  </tr>
  <tr>
    <th>会員ステータス</th>
    <th><%= @book_store.customer_status %></th>
  </tr>
  <tr>
    <td></td>
    <td><%= link_to "退会する", unsubscribe_book_store_book_stores_path, data: { confirm: "退会してもよろしいですか？" }, class:"btn btn-outline-success ml-2 btn-sm" %>
  </tr>
</table>
<!--書店マイページ(詳細)表示-->
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!--書店のマイページを呼び出し-->
      <%= render 'book_store/customers/show', book_store: @book_store_new, customer:@customer %>
    </div>
      <table class="table">
        <tbody>
          <tr>
          <!--本人なら表示、他人なら不表示にする記述(if~end)-->
          <% if @book_store == current_book_store %>
            <!--編集ボタン-->
            <td>
              <%= link_to "編集", edit_book_store_path(@book_store), class: "btn btn-sm btn-success" %>
            </td>
            <!--削除ボタン-->
            <td>
              <%= link_to "削除", book_store_path(@book_store), method: :delete, class: "btn btn-sm btn-danger destroy" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>