<!--書店投稿一覧画面-->
<div class="container">
  <div class="row">
  　　<div class="col">
      <h2 class="mx-1 my-5 text-secondary border-bottom col-4"><b>書店投稿一覧</b></h2>
      <table class="mx-1 my-2 table table-hover table-inverse align-middle text-secondary">
        <thead>
          <tr>
            <th>書店名</th>
            <th>投稿内容</th>
            <!--ワード(不適切な言葉など)で投稿を検索できる検索窓設置-->
            <% if admin_signed_in? %>
              <th>
                <!--url: search_public_posts_path=検索内容をresources :postsのget 'search'に送信-->
                <%= form_with url: search_admin_posts_path, local: true, method: :get do |f| %>
                  <!--検索内容をwordとしてdef searchアクションに送る-->
                  <%= f.text_field :word, class:"text-secondary border border-secondary rounded" %>
                  <!--ワードとタグで切り替えて検索する-->
                  <%= f.select :range, options_for_select([['フリーワード', 'Word'], ['タグ', 'Tag']]), {}, {class: "form-control form-control-sm d-inline", style: "width: 125px;"} %>
                  <!--"btn"箇所=検索ボタン記述-->
                    <!--style: =Bootstrap内でのCSS記述（<div>や<link_to>内では上手く動作しないことも）カスタマイズツールなどある-->
                  <%= f.submit "検索", class: "btn btn-outline-secondary", style: "padding:0;" %>
                <% end %>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <!--複数のデータを登録する記述-->
          <% @posts.each do |post| %>
            <tr>
              <td>
                <%= post.title %>
              </td>
              <td>
                <!--感想コメント作成・特定の投稿に紐づく感想コメント一覧表示ページに遷移(public/posts/show)-->
                <%= link_to admin_comments_path(id: post.id), class:"text-secondary" do %>
                  <%= post.content %>
                <% end %>
              </td>
              <td>
                <%= link_to "削除", admin_post_path(post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-outline-danger float-end" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <!--kaminari(ページネーション)記述-->
      <div class="mx-1">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>