<!--投稿を編集(編集ボタン)-->
<div class="container">
  <dic class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>投稿編集</h1>
        <!--エラーメッセージの記述-->
        <!--<%# if @book_store.errors.any? %>-->
        <!--      <%#= @book_store.errors.count %>errors prohibited this obj from being saved:-->
        <!--        <ul>-->
        <!--          <%# @book_store.errors.full_messages.each do |message| %>-->
        <!--            <li><%#= message %></li>-->
        <!--          <%# end %>-->
        <!--        </ul>-->
        <!--<%# end %>-->

        <!--urlとmethod指定で編集を行うためのリクエストを特定のURL(投稿した書店の詳細)に送信-->
        <%= form_with url: book_store_path(@book_store), method: :patch do |f| %>
          <!--Title（本のタイトル記述箇所）作成-->
          <div class="form-group">
            <%= f.label :書店名 %>
            <%= f.text_field :title, class:"form-control book_title" %>
          </div>
          <!--Opinion（本の感想記述箇所）作成-->
          <div class="form-group">
            <%= f.label :書店情報 %>
            <%= f.text_area :body, class:"form-control book_body" %>
          </div>
          <!--Update Bookボタン記述-->
          <div class="form-group">
            <%= f.submit 'Update Book', class:"btn btn-success" %>
          </div>
          <!--showボタンとBackボタン記述-->
          <%= link_to "Show", book_store_path(@book_store) %>
          <%#= link_to "Back", book_stores_path %>
        <% end %>
    </div>
  </dic>
</div>