<!--投稿作成ページ-->
<div class='container'>
  <div class='row'>
    <div class='col'>
      <h2 class="mx-1 my-5 text-secondary border-bottom col-4"><b>新規投稿</b></h2>
      <!--フォーム作成（入力するbox）,編集時（box）,五段階評価（◯◯◯◯◯）時に使用（送信ボタンアリ）-->
      <%= form_with model: @post, url: book_store_posts_path, local:true do |f| %>
        <!--本の投稿ができないエラーメッセージ-->
        <%= render 'layouts/error_messages', model: f.object %>
          <%= f.label :書店名,class:"mx-1 border-bottom text-secondary" %>
        <div class="form-group mx-1 my-2 text-secondary">
          <!--打ち込んだ情報を:titleに入れる-->
          <%= f.text_field :name, class: 'border border-3 text-secondary rounded' %>
        </div>
          <%= f.label :投稿内容,class:"mx-1 mt-2 border-bottom text-secondary" %>
        <div class="form-group mx-1 my-2 text-secondary">
          <!--打ち込んだ情報を:bodyに入れる-->
          <%= f.text_area :content, rows: '8', style: "width:80%", placeholder: "リクエストを実施した場合はその旨も投稿しましょう", class: 'border border-3 text-secondary rounded' %>
          <%= f.submit '新規投稿', class:"mx-2 mb-4 btn btn-outline-success btn-sm" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
