<!--ヘッダー(ナビゲーションバー)部分テンプレート-->
<body class="d-flex flex-column vh-100">
  <header class="shadow-sm">
  	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  	  <div class="container">
				<span class="border border-5 rounded-pill px-3 py-2">
					<%= link_to "Strebook", root_path, class:"text-secondary" %>
				</span>
					<!--お客様ログイン時のヘッダー-->
					<% if customer_signed_in? %>
	        <!--<div class="text-secondary mx-3 my-3">-->
					<!--	<b>ようこそ、<%#= current_customer.last_name %>さん！</b>-->
					<!--</div>-->
					  <!--マイページリンク-->
					  <%= link_to "マイページ", customer_path(current_customer), class:"text-secondary" %>
					  <!--投稿一覧リンク-->
					  <%= link_to "投稿一覧", posts_path %>
					  <!--リクエストリンク-->
					  <%= link_to "リクエスト", new_book_stores_request_comment_path %>
					  <!--ログアウトリンク-->
					  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
					<!--書店ログイン時のヘッダー-->
					<% elsif book_store_signed_in? %>
					  <!--マイページリンク-->
					  <%= link_to "マイページ", book_store_path(current_book_store), class:"text-secondary" %>
					  <!--リクエスト一覧リンク-->
					  <%= link_to "リクエスト一覧", book_stores_request_comments_path %>
					  <!--投稿リンク-->
					  <%= link_to "投稿", new_post_path %>
					  <!--ログアウトリンク-->
					  <%= link_to "ログアウト", destroy_book_store_session_path, method: :delete %>
					<!--サイト管理者ログイン時のヘッダー-->
					<% elsif admin_signed_in? %>
						<!--お客様一覧リンク-->
						<%= link_to "お客様一覧", admin_customers_path, class:"text-secondary" %>
						<!--書店一覧リンク-->
						<%= link_to "書店一覧", admin_book_stores_path, class:"text-secondary" %>
						<!--投稿一覧リンク-->
						<%= link_to "投稿一覧", admin_posts_path, class:"text-secondary" %>
	          <!--リクエスト一覧リンク-->
						<%= link_to "リクエスト一覧", admin_request_comments_path, class:"text-secondary" %>
						<!--ログアウトリンク-->
						<%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"text-secondary" %>
	        <!--ゲストログイン時のヘッダー-->
					<% elsif customer_signed_in? && current_customer.guest? %>
					  <!--マイページリンク-->
					  <%= link_to "マイページ", guest_customer_path(current_customer), class:"text-secondary" %>
					  <!--投稿一覧リンク-->
					  <%= link_to "投稿一覧", guest_customer_posts_path %>
					  <!--ログアウトリンク-->
					  <%= link_to "ログアウト", destroy_guest_customer_session_path, method: :delete %>
					<!--誰もログインしていない時のヘッダー-->
					<% else %>
						<!--Aboutリンク-->
						<%= link_to "About", about_path, class:"text-secondary" %>
						<!--新規登録リンク-->
						<%= link_to "新規登録", new_customer_registration_path, class:"text-secondary" %>
						<!--ログインリンク→ここは会員用のURL-->
						<%= link_to "ログイン", new_customer_session_path, class:"text-secondary" %>
					<% end %>
			</div>
		</nav>
	</header>
</body>