<!DOCTYPE html>
<html>
  <head>
    <title>StreBook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--bootstrap導入でlinkをpackに変更(app/javascript配下ファイルを参照)-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--_headerを呼び出し記述-->
    <%= render 'layouts/header' %>
    <%= yield %>
  </body>
</html>
